@import "./styles/global.css";
@import "./styles/layout.css";
@import "./styles/sidebar.css";
@import "./styles/cards.css";
@import "./styles/explorar.css";
:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
